<div class="container pt-lg-5 pt-4 text-center">
    <div class="row">
        <div class="col">
            <p  class="">INFORMATIONS PRATIQUES</p>
        </div>
        <div class="col">
            <p  class="">UN PROJET ? CONTACTEZ-MOI !</p>
        </div>
    </div>

    <div class="row mt-2 mt-lg-3">
        <div class="col">
            <p  class="">Graphiste freelance à Montpellier (34)</p>
        </div>
        <div class="col">
            <p  class="">lpistat@yahoo.fr</p>
        </div>
    </div>

    <div class="d-block text-center mt-3 mt-lg-4">
        <p class="mb-0 pb-3"><b>©2020 Lisa Pistat.</b> Sauf mention contraire le contenu de ce site m’appartient, merci de ne pas l’utiliser sans mon accord.<br/>Développement web : <b>Florent Sebag</b></p>
    </div>

</div>
