<div class="position-absolute d-none d-lg-block" style="right:0; top:4em;">
    <img src="assets/img/common/RAYURES_rotated.png" style="height: 70vh;">
</div>

<div class="row mt-5 w-100">
    <div class="col-xl-7 col-sm-9 col text-right p-0">
        <h2 class="mb-0 font-green" style="font-size:4vh;padding-right:0.1em;margin-top:2.4vh;">EMAILING</h2>
    </div>
</div>
<div class="row w-100">
    <div class="col-xl-7 col-sm-9 col bg-green text-right p-0" style="height: 60vh;">
        <h2 class="mb-0 text-white" style="font-size:4vh;padding-right:0.1em;margin-top:0.3em;">DOMAINE PEUT-ÊTRE</h2>
    </div>
</div>

<div class="container margin-img-st-fidele" style="height: 75vh;margin-top:-52vh;">
    <div class="row justify-content-center h-100">
        <div class="col h-100 text-center px-lg-4">
            <img class="img-fluid h-100 w-100" src="assets/img/web/e4.jpg" style="object-fit: cover;border:10px solid white; object-position: 50% 50%;">
        </div>
    </div>
</div>

<img class="position-relative" src="../../../assets/img/home/RAYURES.png" style="width:37.5%;height:12vh;object-fit: cover;margin-top:-6vh;z-index:100;">

<div class="container mb-sm-5 mb-4 mt-3">
    <div class="text-right">
        <p class="font-green" style="font-size: 2rem;">Emailing pour le domaine Peut-Être<br/>Projet réalisé lors d’un stage à l’agence kozy, en collaboration avec l’équipe</p>
    </div>
</div>

<div class="bg-green font-white">
    <app-footer></app-footer>
</div>
