<nav class="navbar navbar-dark bg-green p-3 navbar-expand-md sticky-top">


    <button class="navbar-toggler" data-toggle="collapse" data-target="#contenu"
            aria-controls="contenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="contenu">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
      </ul>
    </div>

    <ul class="nav navbar-nav navbar-center">
      <li class="nav-item">
        <h1 class="display-4 font-size-medium text-center text-white">LISA PISTAT</h1>
      </li>
    </ul>

</nav>


