<div class="position-absolute d-none d-lg-block" style="right:0; top:4em;">
    <img src="assets/img/common/RAYURES_rotated.png" style="height: 70vh;">
</div>

<div class="row mt-3 w-100">
    <div class="col-xl-7 col-sm-9 col text-right p-0">
        <h2 class="mb-0 font-green" style="font-size:4vh;padding-right:0.1em;margin-top:2.4vh;">COUVERTURE</h2>
    </div>
</div>
<div class="row w-100">
    <div class="col-xl-7 col-sm-9 col bg-green text-right p-0" style="height: 60vh;">
        <h2 class="mb-0 text-white" style="font-size:4vh;padding-right:0.1em;margin-top:0.3em;">TRUISMES</h2>
    </div>
</div>

<div class="container margin-img-st-fidele" style="height: 70vh;margin-top:-52vh;">
    <div class="row justify-content-center h-100">
        <div class="col h-100 text-center px-lg-4">
            <img class="img-fluid h-100 w-100" src="assets/img/print/truismes/mockup.jpg" style="object-fit: cover;border:10px solid white;">
        </div>
    </div>
</div>

<div class="container my-5">

    <div class="row mb-3">
        <div class="col-lg-6"></div>
        <div class="col-lg-5 text-center text-lg-left">
            <p class="font-green" style="font-size:1.5rem;">Création d'illustrations et de couverture pour le roman "Truismes" de Marie Darrieussecq</p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4 p-0 text-md-right text-center" style="height:32vh;" >
            <img src="assets/img/print/truismes/1.jpg" class="img-fluid h-100" style="object-fit: contain;">
        </div>

        <div class="col-md-4 p-0 text-center" style="height:32vh;">
            <img src="assets/img/print/truismes/2.jpg" class="img-fluid h-100" style="object-fit: contain;">
        </div>

        <div class="col-md-4 p-0 text-md-left text-center" style="height:32vh;">
            <img src="assets/img/print/truismes/3.jpg" class="img-fluid h-100" style="object-fit: contain;">
        </div>

    </div>
    <div class="row position-relative" style="z-index:10;">

        <div class="col-md-4 text-md-right text-center" style="height:32vh;">
            <img src="assets/img/print/truismes/4.jpg" class="img-fluid h-100" style="object-fit: contain;">
        </div>

        <div class="col-md-4 text-center" style="height:32vh;">
            <img src="assets/img/print/e2.jpg" class="img-fluid h-100" style="object-fit: contain;">
        </div>

        <div class="col-md-4 text-md-left text-center" style="height:32vh;">
            <img src="assets/img/print/truismes/5.jpg" class="img-fluid h-100" style="object-fit: contain;">
        </div>

    </div>
</div>



<div class="row mx-0 text-center text-lg-left">


    <div class="col-lg-5 pl-0 text-left" style="margin-bottom: -10vh;margin-top: -105vh;">
        <img src="assets/img/common/RAYURES_rotated.png" class="d-lg-block d-none" style="height: 90vh;width:5vw;object-fit: cover;">
    </div>
    
    <div class="col-lg-1"></div>

    <div class="col-lg-6 p-0 d-lg-block d-none">
        <img class="img-fluid h-100 w-100" style="object-fit: cover;height:14vh!important;margin-top:-15vh;" src="assets/img/id-visu/cmx-race/RAYURES2.png">
    </div>
</div>




<div class="bg-green font-white">
    <app-footer></app-footer>
</div>
