<div class="d-block text-right" style="margin-top: -5vh;">
    <img src="../../../assets/img/home/RAYURES.png" style="height:10vh;object-fit: cover;width:48%;">
</div>

<div class="container">
    <div class="row justify-content-center mt-lg-3 mt-3 elem" routerLink="/portfolio/web/more/sunelia">
        <div class="col-lg-8 col height-100">
            <img class="img-fluid e1" src="../../../assets/img/web/e1.jpg">
        </div>
    </div>

    <div class="row justify-content-center mt-3 mt-md-2 elem" routerLink="/portfolio/web/more/mbr">
        <div class="col-lg-8 col height-100">
            <img class="img-fluid e2" src="../../../assets/img/web/e2.jpg">
        </div>
    </div>

    <div class="row justify-content-center mt-3 mt-md-2 elem">
        <div class="col-lg-8 col height-100">
            <img class="img-fluid e3" src="../../../assets/img/web/e3.jpg" routerLink="/portfolio/web/more/bambouseraie">
        </div>
    </div>

    <div class="row justify-content-center mt-3 mt-md-2 elem e4" routerLink="/portfolio/web/more/emailing">
        <div class="col-lg-8 col height-100">
            <img class="img-fluid e4" src="../../../assets/img/web/e4.jpg">
        </div>
    </div>

</div>

<div class="d-block text-left pt-1" style="height:0;">
    <img src="../../../assets/img/home/RAYURES.png" style="width:60%;height:15vh;object-fit: cover;margin-top:-50vh;">
    <div class="bg-green" style="margin-top: -25vh; padding-top:12.5vh; padding-bottom:12.5vh"></div>
</div>

<div class="bg-green font-white">
    <app-footer></app-footer>
</div>
