<div class="position-absolute d-none d-lg-block" style="right:0; top:4em;">
    <img src="assets/img/common/RAYURES_rotated.png" style="height: 70vh;">
</div>

<div class="row mt-5" style="width: 100%;">
    <div class="col-xl-7 col-9 bg-green text-right p-0" style="height: 60vh;">
        <h2 class="mb-0 text-white" style="font-size:5vh;padding-right:0.1em;margin-top:2.4vh;">CMX</h2>
    </div>
    
    <h2 class="mb-0 font-green" style="font-size:5vh;padding-left:0.2em;margin-top:2.4vh;">RACE</h2>
    
</div>

<div class="container" style="height: 70vh;margin-top:-52vh;">
    <div class="row justify-content-center h-100">
        <div class="col h-100 text-center">
            <img class="img-fluid h-100" src="assets/img/id-visu/e1.jpg" style="object-fit: cover;border:10px solid white;">
        </div>
    </div>
</div>

<div class="bg-green font-white">
    <app-footer></app-footer>
</div>
