<div class="position-absolute d-none d-lg-block" style="right:0; top:4em;">
    <img src="assets/img/common/RAYURES_rotated.png" style="height: 70vh;">
</div>

<div class="row mt-5 w-100">
    <div class="col-xl-7 col-sm-9 col text-right p-0">
        <h2 class="mb-0 font-green" style="font-size:4vh;padding-right:0.1em;margin-top:2.4vh;">SUNÊLIA</h2>
    </div>
</div>
<div class="row w-100">
    <div class="col-xl-7 col-sm-9 col bg-green text-right p-0" style="height: 60vh;">
        <h2 class="mb-0 text-white" style="font-size:4vh;padding-right:0.1em;margin-top:0.3em;">WEBSITE</h2>
    </div>
</div>

<div class="container margin-img-st-fidele" style="height: 70vh;margin-top:-52vh;">
    <div class="row justify-content-center h-100">
        <div class="col h-100 text-center px-lg-4">
            <img class="img-fluid h-100 w-100 cover-Imd contain-md" src="assets/img/web/e1.jpg" style="border:10px solid white; object-position: 75% 67%;">
        </div>
    </div>
</div>



<div class="row mx-0 text-center text-lg-left mt-5" style="margin-bottom: 3vh;">
    
    <div class="col-lg-4 pl-0 text-left" style="margin-bottom: -10vh;margin-top: -30vh;">
        <img src="assets/img/common/RAYURES_rotated.png" class="d-lg-block d-none" style="height: 90vh;width:5vw;object-fit: cover;">
    </div>

    <div class="col-lg-4 col text-center justify-content-center">
        <img src="assets/img/web/sunelia/e1.png" class="w-100 img-fluid ml-auto mr-auto" style="object-fit: cover;border:20px solid #98b8ae;">
    </div>
    
    <div class="col-lg-4"></div>

</div>

<div class="w-100 text-right justify-content-end p-0 mr-0 ml-0 mt-0 d-md-block d-none" style="margin-bottom:-4vh;">
    <img src="assets/img/home/RAYURES.png" style="width:60%;height:10vh;object-fit: cover;">
</div>




<div class="bg-green font-white">
    <app-footer></app-footer>
</div>