<div class="position-relative img-container">

  <div class="bg-green green-container text-center">
    <div class="absolute-center-text">
      <div class="position-relative" style="line-height:3.5em;">
        <span class="bg-white main-title-text font-green" style="font-family: none; font-size:3em;">GRAPHIC</span>
        <br/>
        <span class="bg-white main-title-text font-green" style="margin-left:2.2em;font-family: none; font-size:3em;">DESIGN</span>
      </div>
    </div>
    <img src="../../../assets/img/home/cactus.jpg" class="img-fluid img-cactus">
    <div class="d-block">
      <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"/>
      </svg>
    </div>

    <div class="container text-sm-left mt-3 pl-sm-5 pt-md-5 pt-sm-3" style="line-height:3.5em;">
      <span class="bg-green main-title-text text-white" style="font-family: none;">DECOUVRE</span>
      <br/>
      <span class="bg-green main-title-text text-white ml-sm-5" style="font-family: none;">MON PORTFOLIO</span>
    </div>

    <div class="mt-5 mb-md-5 container-md">
      <div class="row ">

        <div class="col-md-4 category-elem mb-4 mb-md-0" routerLink="portfolio/print">
          <div class="img-category" style="background-image: url(../../../assets/img/home/c5.jpg);"></div>
          <div class="bg-green span-img-category">
            <p style="font-size: 1.4rem;" class="text-white">PRINT</p>
          </div>
        </div>

        <div class="col-md-4 category-elem mb-4 mb-md-0" routerLink="portfolio/identites-visuelles">
          <div class="img-category" style="background-image: url(../../../assets/img/home/c2.jpg);"></div>
          <div class="bg-green span-img-category">
            <p style="font-size: 1.4rem;" class="text-white">IDENTITES VISUELLES</p>
            
          </div>
        </div>

        <div class="col-md-4 category-elem mb-4 mb-md-0" routerLink="portfolio/web">
          <div class="img-category" style="background-image: url(../../../assets/img/home/c3.jpg);"></div>
          <div class="bg-green span-img-category">
            <p style="font-size: 1.4rem;" class="text-white">WEB</p>
          </div>
        </div>
        
      
      </div>
    </div>

    <div class="d-block text-left pt-1">
      <img src="../../../assets/img/home/RAYURES.png" style="width:60%;height:15vh;object-fit: cover;">
      <div class="bg-green mt-n4 pt-5 pb-5">

        <div class="container">
        <div class="row mt-2 mt-lg-4">

          <div class="col justify-content-center align-self-center">
            <img class="img-fluid" src="../../../assets/img/home/profil.jpg" style="border:7px solid white;">
          </div>

          <div class="col-lg-1 col-0"></div>

          <div class="col mt-lg-0 mt-4">

            <div class="d-block text-center">
              <span class="bg-white font-green pt-1 pb-1 pl-2 pr-2" style="font-size: 2.5rem;">CONTACTE</span>
            </div>
            <div class="d-block text-center mt-2">
              <span class="bg-white font-green pt-1 pb-1 pl-2 pr-2" style="font-size: 2.5rem;">MOI !</span>
            </div>

            <div class="d-block mt-5 pr-lg-5 pb-5 text-lg-left text-center">
              <p class="font-size-small mx-2 mx-sm-3 mx-md-0 text-white">Graphiste freelance,<br/> je suis à votre disposition pour la mise en oeuvre de vos projets.<br/><br/>N'hésitez pas à me contacter !</p>
            </div>

            <div class="text-lg-left text-center">
              <span class="bg-white font-green px-3 py-1 " style="font-size: 2rem;">lpistat@yahoo.fr</span>
            </div>
          </div>


        </div>
      </div>

      </div>
    </div>
    
    <div class="font-green">
      <app-footer></app-footer>
    </div>
  </div>

  
  <div class="bg-white container text-center">
  </div>
</div>
