<div class="position-absolute d-none d-lg-block" style="right:0; top:4em;">
    <img src="assets/img/common/RAYURES_rotated.png" style="height: 70vh;">
</div>

<div class="row mt-5 w-100">
    <div class="col-xl-7 col-sm-9 col text-right p-0">
        <h2 class="mb-0 font-green" style="font-size:4vh;padding-right:0.1em;margin-top:2.4vh;">MBR</h2>
    </div>
</div>
<div class="row w-100">
    <div class="col-xl-7 col-sm-9 col bg-green text-right p-0" style="height: 60vh;">
        <h2 class="mb-0 text-white" style="font-size:4vh;padding-right:0.1em;margin-top:0.3em;">WEBSITE</h2>
    </div>
</div>

<div class="container margin-img-st-fidele" style="height: 60vh;margin-top:-52vh;">
    <div class="row justify-content-center h-100">
        <div class="col h-100 text-center px-lg-4">
            <img class="img-fluid h-100 w-100" src="assets/img/web/e2.jpg" style="object-fit: cover;border:10px solid white; object-position: 50% 67%;">
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">

        <div class="col-md-5 text-md-right text-center mb-4 mb-md-0" style="height:80vh;">
            <img class="img-fluid h-100" src="assets/img/web/mbr/e1.jpg">
        </div>
        
        <div class="col-md-7">

            <div class="row justify-content-center text-center">
                <p class="font-green" style="font-size:1.5rem;">Refonte du site web de MBR</p>
            </div>

            <div class="row justify-content-center">
                <img class="img-fluid" style="height:41vh;object-fit: cover;" src="assets/img/web/mbr/e2.jpg">
            </div>

            <div class="row justify-content-center mt-4">
                <img class="img-fluid" style="height:30vh;" src="assets/img/web/mbr/e3.jpg">
            </div>
        </div>

    </div>
</div>



<div class="row mx-0 text-center text-lg-left">


    <div class="col-lg-5 pl-0 text-left" style="margin-bottom: -10vh;margin-top: -30vh;">
        <img src="assets/img/common/RAYURES_rotated.png" class="d-lg-block d-none" style="height: 90vh;width:5vw;object-fit: cover;">
    </div>


    <div class="col-lg-7 px-0">

        <div class="pl-5 pr-0">
            <div class="pl-5 pr-0">
                <div class="pl-2 pr-0">
                    <div class="bg-green" style="height:50vh"></div>
                </div>
            </div>
        </div>

        <div class="position-relative" style="height:65vh;margin-top:-45vh;margin-bottom: 12vh;padding-right:3vw;">

            <div class="h-100 position-relative">
                <img class="img-fluid h-100" src="assets/img/web/mbr/e4.jpg" style="object-fit:cover; border:10px solid white;z-index:10;">
            </div>

            <div class="ml-n5 mt-n5 text-left mb-5">
                <img class="img-fluid h-100" style="object-fit: cover;width:75%;height:14vh!important;" src="assets/img/id-visu/cmx-race/RAYURES2.png">
            </div>
        </div>
        

    </div>
</div>




<div class="bg-green font-white">
    <app-footer></app-footer>
</div>
