@media (max-width: 768px) {
    .no-border-bottom {
        border-left:10px solid white!important;
        border-top:10px solid white!important;
        border-bottom:0!important;
        border-right:10px solid white!important;
    }
    .no-border-top {
        border-right:10px solid white!important;
        border-top:0!important;
        border-bottom:10px solid white!important;
        border-left:10px solid white!important;
    }

    .h-65 {
        height:65vh!important;
    }

    .m-special {
        margin-bottom: 70vh;
    }
  }

@media (min-width: 768px) {
    .no-border-md-right {
        border-left:10px solid white!important;
        border-top:10px solid white!important;
        border-bottom:10px solid white!important;
        border-right:0!important;
    }
    .no-border-md-left {
        border-right:10px solid white!important;
        border-top:10px solid white!important;
        border-bottom:10px solid white!important;
        border-left:0!important;
    }
}
