<div class="position-absolute d-none d-lg-block" style="right:0; top:4em;">
    <img src="assets/img/common/RAYURES_rotated.png" style="height: 70vh;">
</div>

<div class="row mt-5 w-100">
    <div class="col-xl-7 col-9 text-right p-0">
        <h2 class="mb-0 font-green" style="font-size:4vh;padding-right:0.1em;margin-top:2.4vh;">CREATION</h2>
    </div>
</div>
<div class="row w-100">
    <div class="col-xl-7 col-9 bg-green text-right p-0" style="height: 60vh;">
        <h2 class="mb-0 text-white" style="font-size:4vh;padding-right:0.1em;margin-top:0.3em;">TYPOGRAPHIQUE</h2>
    </div>
</div>

<div class="container" style="height: 70vh;margin-top:-52vh;">
    <div class="row justify-content-center h-100">
        <div class="col h-100 text-center">
            <img class="img-fluid h-100" src="assets/img/id-visu/typographie/e1.jpg" style="object-fit: cover;border:10px solid white;">
        </div>
    </div>
</div>

<!-- <div class="container margin-img-st-fidele" style="height: 75vh;margin-top:-53vh;">
    <div class="row justify-content-center h-100">
        <div class="col h-100 text-center px-lg-4">
            <img class="img-fluid h-100 w-100" src="assets/img/id-visu/typographie/e1.jpg" style="object-fit: cover;border:10px solid white; object-position: 50% 100%;">
        </div>
    </div>
</div> -->

<div class="row mr-0 my-4 justify-content-right">

    <div class="col-lg-1"></div>

    <div class="col-lg-4 p-0 text-center mt-lg-5 mb-0 mb-lg-n5">
        
    </div>

    <div class="col-lg-1"></div>



    <div class="col-lg-6 p-0 text-center justify-content-center justify-content-lg-start text-lg-left mt-3 mt-lg-0 pl-lg-5" style="display: flex;align-items: center;">
        <p class="font-green mx-3" style="font-size: 2.7vh;">Création de typographie à partir d'une grille<br/>et mise en page de celle-ci</p>
    </div>

</div>

<div class="row justify-content-center" style="margin-bottom:8vh;">
    <div class="" style="height:75vh;">
        <img src="assets/img/id-visu/e4.jpg" class="img-fluid h-100" style="object-fit: cover;">
        
        
    </div>
    
    
</div>


<div class="row mx-0 text-center text-lg-left">


    <div class="col-lg-5 pl-0 text-left" style="margin-bottom: -10vh;">
        <img src="assets/img/common/RAYURES_rotated.png" class="d-lg-block d-none" style="height: 80vh;width:5vw;object-fit: cover;">
    </div>


    <div class="col-lg-7 px-0">

        <div class="pl-5 pr-0">
            <div class="pl-5 pr-0">
                <div class="pl-2 pr-0">
                    <div class="bg-green" style="height:50vh"></div>
                </div>
            </div>
        </div>

        <!--<div class="position-relative" style="height:55vh;margin-top:-45vh;width: fit-content;margin-bottom: 12vh;">

            <img class="img-fluid h-100 position-relative" src="assets/img/id-visu/cmx-race/e3.jpg" style="object-fit:cover; border:10px solid white;z-index:10;">

            <div class="ml-n5 mt-n5 text-left mb-5">
                <img class="img-fluid h-100 w-100 position-absolute" style="object-fit: cover;width:inherit;height:14vh!important;" src="assets/img/id-visu/cmx-race/RAYURES2.png">
            </div>
        </div>-->

        <div class="position-relative" style="height:55vh;margin-top:-45vh;margin-bottom: 12vh;padding-right:3vw;">

            <img class="img-fluid h-100 w-100 position-relative" src="assets/img/id-visu/cmx-race/e3.jpg" style="object-fit:cover; border:10px solid white;z-index:10;">

            <div class="ml-n5 mt-n5 text-left mb-5">
                <img class="img-fluid h-100" style="object-fit: cover;width:90%;height:14vh!important;" src="assets/img/id-visu/cmx-race/RAYURES2.png">
            </div>
        </div>
        

    </div>
</div>




<div class="bg-green font-white">
    <app-footer></app-footer>
</div>
