@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-CondensedExtraBd.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-CondensedExtraBd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-CondExtraBoldObl.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-CondExtraBoldObl.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-MediumOblique.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-MediumOblique.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-CondensedBoldObl.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-CondensedBoldObl.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-CondensedBold.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-CondensedBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-LightOblique.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-LightOblique.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-Book.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-BookOblique.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-BookOblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-CondensedOblique.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-CondensedOblique.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-HeavyOblique.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-HeavyOblique.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-Light.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-Condensed.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-Condensed.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-Bold.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-CondensedLightObl.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-CondensedLightObl.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-Heavy.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-Medium.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-ExtraBoldOblique.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-ExtraBoldOblique.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-CondensedLight.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-CondensedLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-BoldOblique.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-BoldOblique.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/Futura/FuturaStd-ExtraBold.woff2') format('woff2'),
  url('./fonts/Futura/FuturaStd-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

