/* You can add global styles to this file, and also import other style files */

.bg-green {
  background-color: #98b8ae;
}

.futura-font {
  font-family: 'Futura Std';
}

.font-size-xlarge {
  font-size:3rem;
}

.font-size-large {
  font-size:2.5rem;
}

.font-size-medium {
  font-size:2rem;
}

.font-size-small {
  font-size:1.5rem;
}

.font-size-xsmall {
  font-size:0.8rem;
}
