/* You can add global styles to this file, and also import other style files */

html {
  scroll-behavior: smooth;
}

.bg-green {
  background-color: #98b8ae;
}

.font-green {
  color: #98b8ae;
}

.font-white {
  color: white;
}

.font-menu {
  color:#fff!important;
}

.futura-font {
  font-family: 'Futura Std';
}

.font-size-xlarge {
  font-size:3rem;
}

.font-size-large {
  font-size:2.5rem;
}

.font-size-medium {
  font-size:2rem;
}

.font-size-small {
  font-size:1.5rem;
}

.font-size-xsmall {
  font-size:0.8rem;
}

.showhim {
  cursor: pointer;
}

.show-me {
  background-color: rgba(152, 184, 174, 0.85);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.showhim:hover .show-me{
  visibility: visible;
  opacity: 1;
}

.div-absolute-anim {
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@font-face {
  font-family: garamont;
  src: url(assets/fonts/Arnhem.otf);
}

@font-face {
  font-family: futura;
  src: url(assets/fonts/FuturaStd-Light.otf);
}

.font-garamont {
  font-family: garamont;
}

.font-futura {
  font-family: futura;
}